body{
    background-color:darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theForm{
    background-color: darkkhaki;
    text-align: right;
}

div{
    margin: 2vh 1vw;
}